* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-size: 62.5%;
	
}

.first-title {
	color : #EDCF37;
	font-size: 3rem;
	text-align: center;
	margin-top: 20%;
	margin-bottom: 30px;
}

.my-description {

	color:#42ED8C;
	font-size: 2rem;
	padding: auto;
	text-align: center;
}

.background {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top right , #3F3AD6, #93C8F5);
}